* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.canvas div {
    width: 30px;
    height: 30px;
    float: left;
}

.canvas {
    font-size: 20px;
}